$indigo: #ff8e03b5;
$white: #000000;
$dark: #ffffff;
$green: #ff8d0a;
$gradient: linear-gradient(203deg, #000000bc 0%, rgba(255, 119, 16, 0.794) 100%);
$gradient2: linear-gradient(250deg, rgb(0, 0, 0) 24%, rgb(86, 1, 255) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
